@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.login-page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px; /* Adjusting border radius */
    width: 500px; /* Fixed width for exact match */
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: left;
    font-family: "Exo 2", sans-serif;
    font-weight:bold ;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input::placeholder {
    color: #999;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me label {
    margin-left: 4px;
    align-self: center; 
}

.remember-me input {
    margin-right: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    border: none;
    border-radius: 20px; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #e65c00;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: left; 
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #555; 
}

@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        width: calc(100% - 40px); /* Responsive width */
    }

    .login-form h2 {
        font-size: 24px;
    }

    .login-button {
        font-size: 14px;
    }
}
